/* General */
.tBreak{
	margin:1em;
	margin-top: 2em;
}


/* Dom */
body{
	background:#E1E1E1;
	color: #666;
	font-family: 'Roboto',Helvetica,Arial,sans-serif ;
}

textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, input[type="email"]:focus, 
input[type="url"]:focus, input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, .uneditable-input:focus {
	border-color: #EB3F3C;
}

/* input */
input.textfield{
	border-radius: 0;
	padding: 8px;
	background: #FFF;
	box-shadow: none;
}

input.submit-btn{
	background: #EB3F3C;
	border-radius: 0;
	color: #FFF;
	padding: 8px 15px;
	border: 1px solid #DDD;
	font-family: 'Roboto',Helvetica,Arial,sans-serif ;
}

h4{
	font-weight: 600;
	font-family: 'Roboto',Helvetica,Arial,sans-serif !important;
	text-transform: uppercase;
	color: #6b6c6f;
}

h6{
	font-weight: 400;
	font-family: 'Roboto',Helvetica,Arial,sans-serif !important;
	text-transform: uppercase;
	color: #6b6c6f;
}
.error input.textfield{
	border:1px solid #F00;
	margin-bottom: 2px;
}

.redbg{
	background: #EB3F3C !important;
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05) !important;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.05) !important;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05) !important;
}

.blackbg{
	background: #333 !important;
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05) !important;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.05) !important;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05) !important;
}

.whitebg{
	background: #FFF !important;
	color:#666 !important;
}

.logo{
	padding: 10px;
	float: left;

	display: block;

}

.mycontainer{
	margin-top: 80px;
	max-width: 940px;
	padding: 12px;

	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #d8d8d8;
	border-bottom-width: 2px;
	border-top-width: 0;
	vertical-align: top;

	margin-left:auto;
	margin-right:auto;
	background: #FFF;
	box-sizing:border-box;
}

.mycontainer.logincontainer{
	max-width: 500px;
}

.errorMessage{
	color:#F00;
	font-size: 12px;
}

label{
	margin-top: 5px;
}

.submitfooter{
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: -12px;
	padding: 15px 12px;
	background: #F5F5F5;
	border-top: 1px solid #DDD;

}

form{
	margin:0;
}

.titlelink{
	font-size: 18px;
	color:#F00;
	margin-top: 3px;
}


/* Login page */

#login-page .logo img,
#authorize-page .logo img
{
	max-width: inherit;
}

#login-page .navbar-inner h4,
#authorize-page .navbar-inner h4
{
	font-size: 14px;
	color: #FFF;
	padding:.1em; 
	padding-top:.4em;
	padding-left:1em;
}

#login-page input.textfield{
	border-radius: 0;
	background: #FFF;
	box-shadow: none;
}

#login-page .error input.textfield{
	border:1px solid #F00;
	margin-bottom: 2px;
}